<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cd7a0">  <td>18/10/22 11:47:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC001_HITS_Login_Validation@3108bc]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>18/10/22 11:46:43</td>   <td>-34012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_HITS_Login_Validation@3108bc]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>18/10/22 11:47:10</td>   <td>-6444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_HITS_Login_Validation.loginHITS()[pri:0, instance:testcases.TC001_HITS_Login_Validation@3108bc]">loginHITS</td> 
  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>18/10/22 11:46:43</td>   <td>-34060</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_HITS_Login_Validation.setData()[pri:0, instance:testcases.TC001_HITS_Login_Validation@3108bc]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/10/22 11:46:42</td>   <td>-35107</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:testcases.TC001_HITS_Login_Validation@3108bc]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/10/22 11:46:43</td>   <td>-34048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcases.TC001_HITS_Login_Validation@3108bc]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/10/22 11:47:18</td>   <td>933</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:testcases.TC001_HITS_Login_Validation@3108bc]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468357786</td>   <td></td> </tr>
</table>
